yolo11x-seg.pt
aux_data/keypoint_description/num_keypoints_gascan_pelican.txt
aux_data/keypoint_description/num_keypoints_gascan.txt
aux_data/keypoint_description/num_keypoints_indoor.txt
aux_data/keypoint_description/num_keypoints_pascal.txt
aux_data/keypoint_description/num_keypoints.txt
aux_data/keypoint_description/pascal_num_keypoints.txt
aux_data/keypoint_models/model_20_multiple.t7
aux_data/keypoint_models/pascal.pt
aux_data/keypoint_models/pose-hg-pascal3d.t7
car_pose_estimator/output/000117.png
car_pose_estimator/output/kpt_image.png
car_pose_estimator/output/keypoint_description/num_keypoints_gascan_pelican.txt
car_pose_estimator/output/keypoint_description/num_keypoints_gascan.txt
car_pose_estimator/output/keypoint_description/num_keypoints_indoor.txt
car_pose_estimator/output/keypoint_description/num_keypoints_pascal.txt
car_pose_estimator/output/keypoint_description/num_keypoints.txt
car_pose_estimator/output/keypoint_description/pascal_num_keypoints.txt
car_pose_estimator/output/keypoint_models/pascal.pt
car_pose_estimator/output/yolo_models/yolo11x-seg.pt
output/yolo_models/yolo11x-seg.pt
yolo_models/yolo11x-seg.pt
